{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'michalowa/css/style.css' %}">
    <title>Document</title>
</head>
<body>

    <main>
        <div class="register_box">
            <form class="register_form" method="POST">
                {%csrf_token%}
                {% for field in form%}
                {{field.label}} {{field}}<br>
                {%endfor%}
                <br> <input type="submit">
            </form>
        </div>

    </main>

</body>
</html>