{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'michalowa/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <header>
            <div class="navbar">
                <a href="{% url 'index' %}">Michałowa</a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="user">Wyloguj</a>
                {% else%}
                <a href="{% url 'login' %}" class="user">Zaloguj</a>
                <a href="{% url 'registration' %}"class="user">Rejestracja</a>
                {%endif%}
            </div>
        </header>

        <div class="location">
            <a href="{% url 'forum' %}">HOME</a> >> <a href="{% url 'section' topic.subject_section.name %}">{{topic.subject_section.name}}</a> >> {{topic.title}}
        </div>
        <div class="toolbar">
            <a href="{% url 'new_post' topic.subject_section.name topic.title %}"><button class="toolbar_button">Dododaj wpis</button></a>

        </div>

    </header>

    <main>
        <div>
    
            <div class="main_post">
                <div class="main_post_title" >{{topic.title}}</div>
                <div class="main_post_body" >{{topic.subject_description}}</div>
                <div class="main_post_footer" >
<a href="{% url 'michalowaApi' 'subject' topic.id%}"><button class="download_button">POBIERZ</button></a>     {{topic.date_created|date:"d-m-Y"}} {{topic.subject_creator.nick}}
                </div>
            </div>
    
            {% for post in posts%}
            <div class="post">
                <div class="post_body" >{{post.content}}</div>
                <div class="post_footer" >
    <a href="{% url 'michalowaApi' 'post' post.id%}"><button class="download_button">POBIERZ</button></a> {{post.date_created|date:"d-m-Y"}} {{post.post_creator.nick}}
                </div>
            </div>
            {%endfor%}
    
    
    
    
        </div>
    </main>

    <footer >

    </footer>

</body>
</html>
